<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>NSS Hours</h1>
    <h3><i>Format: 2K19/MCE/003</i></h3>

    <form action="/" method="POST">
        <div class="name">
            <label for="student-name">Name</label>
            <input type="text" id="student-name" name="name">
        </div>

        <div class="roll-no">
            <label for="student-password">Roll No</label>
            <input type="text" id="student-password" name="rollNumber" pattern="^2K(19|2\d).[A-Z]{2,3}.[0-9]{3}" required>
        </div>
        <button type="submit">Hours</button>
    </form>
</body>

</html>